div.actividadesCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  gap: 30px;
}

div.collapsedCard {
  grid-row-start: 1;
  grid-row-end: 3;
  height: 100%;
}

span.cardTitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary);
}

.col1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.col2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.col3 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.icon {
  font-size: 4rem;
  color: var(--primary);
}

span.entrega {
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  color: var(--primary);
}

.buttonLink {
  display: flex;
  text-align: center;
  width: 100%;
  padding: 0 40px;
  & > * {
    width: 100%;
  }
}
